:root{
    --cor-principal: #f6d6cd;
    --cor-secundari: #9d6153;
    --cor-destaque: #fbf6ed;
  
  }
  
  
  .cabecalho {
    background-color: var(--cor-destaque) ;
    text-align: center;
    font: size 70px;;
  }
  
  h1 {
    font-size: 70px;
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .logo {
  display: inline-flex;
  }
  
  .menu >ul{
    max-width: 50rem;
    min-height: unset;
    padding: 1rem;
    background: var(--cor-principal);
    margin: 1rem auto;
  }
  
  .menu_item >a{
  text-decoration: none;
  font-size: 15px;
  color:var(--cor-secundari);
  font-weight: bold;
  line-height: 45px;
  font-variant: small-caps;
  text-align: center;
  }
  
    .menu_item > a:hover{
        color:var(--cor-destaque)
    }
  
    p{
        text-align: center;
        font-size: 25px;
        list-style: none;
    }
  
    .card {
        background-color: var(--cor-destaque);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
        width: 170px;
        padding: 8px;
        margin: 15px;
        text-align: center;
        display:inline-block;
        transition: transform 0.3s;
      }
      
      .card:hover {
        transform: scale(1.05);
      }
      
      .imagem {
        width: 80%;
        border-radius: 8px;
      }
      
      .nome {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0 5px 0;
      }
      .preco{
        font-size: 0.95em;
        margin: 4px 0;
        color: black;
      }
  
      .comprar {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        margin:4px 0;
        color: var(--cor-principal);
      }
      
      .topicos {
        font-size: 25px;
        text-align: left;
      }
  
      .chao {
        background-color:var(--cor-secundaria) ;
      }
  
      .formulario {
        background-color: var(--cor-destaque);
        align-items: flex-start;
        width: 300px;
        padding: 20px;
        border: 1px solid var(--cor-destaque);
        border-radius: 8px;
        margin: 50px auto;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
        list-style: none;
        display: block;
  
  
      }
  
  .meugato {
          display: flex
  
        }
      
  
      .gatofinal {
        object-fit: cover;
        border-radius: 5px;
        margin-right: 5px;
        width: 200px;
        height: 200px;
      }
      
  .container {
  background-image: url(photos/𝑵𝒆𝒘\ 𝒕𝒉𝒆𝒎𝒆\ 𝒄𝒐𝒎𝒊𝒏𝒈___.jfif);
  background-size: 1000px;
  }
  
  .quadrado {
  margin: 0 auto;
  width: 900px;
  background-color: #9D6153;
  background-size: 1000px;
  padding: 20px;
  border-radius: 50px;
  border: 3px solid #9b6e64;
  }
  
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .page > * {
    padding: 1rem;
  }

  .page {
    background: var(--cor-principal);
    border: 1px solid var(--cor-destaque);
  }
  
  .sidebar {
    background: var(--cor-principal);
    outline: 1px solid var(--cor-destaque);
    flex-grow: 1;
    flex-basis: 12rem;
  }

